<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Java_Day12_ServletConfigContextDemo</display-name>
  <context-param>
    <param-name>DriverClassName</param-name>
    <param-value>com.mysql.jdbc.driver</param-value>
  </context-param>
  <context-param>
    <param-name>DriverUrl</param-name>
    <param-value>jdbc:mysql://localhost:3306/firstdatabase</param-value>
  </context-param>
  <context-param>
    <param-name>UserName</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>Password</param-name>
    <param-value></param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ConfigInfoServlet</display-name>
    <servlet-name>ConfigInfoServlet</servlet-name>
    <servlet-class>com.marlabs.configandcontext.ConfigInfoServlet</servlet-class>
    <init-param>
      <description>Used to calculate HRA</description>
      <param-name>HRA</param-name>
      <param-value>0.04</param-value>
    </init-param>
    <init-param>
      <description>Basic Salary</description>
      <param-name>Basic</param-name>
      <param-value>10000</param-value>
    </init-param>
    <init-param>
      <description>DA Calculation</description>
      <param-name>DA</param-name>
      <param-value>0.4</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfigInfoServlet</servlet-name>
    <url-pattern>/ConfigInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContextInfoServlet</display-name>
    <servlet-name>ContextInfoServlet</servlet-name>
    <servlet-class>com.marlabs.configandcontext.ContextInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContextInfoServlet</servlet-name>
    <url-pattern>/ContextInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionDemo</display-name>
    <servlet-name>SessionDemo</servlet-name>
    <servlet-class>com.marlabs.sessions.SessionDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionDemo</servlet-name>
    <url-pattern>/SessionDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionDemo2</display-name>
    <servlet-name>SessionDemo2</servlet-name>
    <servlet-class>com.marlabs.sessions.SessionDemo2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionDemo2</servlet-name>
    <url-pattern>/SessionDemo2</url-pattern>
  </servlet-mapping>
</web-app>